# Ignore everything, first
*

# WHITELIST
!.gitignore

!alacritty/
!alacritty/alacritty.toml

!brew/
!brew/*

!git/
!git/ignore
!git/base_config

!nvim/
!nvim/*
!nvim/lua/
!nvim/lua/*
!nvim/lua/core/
!nvim/lua/core/*
!nvim/lua/plugin/
!nvim/lua/plugin/*
!nvim/lua/vim/
!nvim/lua/vim/*
!nvim/lua/plugin/setup/
!nvim/lua/plugin/setup/*
!nvim/lua/plugin/specs/
!nvim/lua/plugin/specs/*

!skhd/
!skhd/skhdrc
!skhd/yabaimacro.sh

!tmux/
!tmux/tmux.conf

!yabai/
!yabai/yabairc

!zsh/
!zsh/.zshrc
!zsh/.zshenv
!zsh/.zprofile
!zsh/base_zshenv


# BLACKLIST
.DS_Store
node_modules
