# This gitignore is special. It ignores everything by default, and then
# explicitly un-ignores the files that should be tracked.
# 
# It follows 3 distinct steps:
# 
# 1. Ignore everything (*)
# 2. Un-ignore specific files and directories (`!` patterns)
# 3. Final blacklist to re-ignore unwanted filenames that may have been
#    captured by step 2. This resembles a normal gitignore. e.g. `.DS_Store`.

# #############################################################################
# STEP 1: Ignore everything (*)
# #############################################################################

*

# #############################################################################
# STEP 2: Un-ignore specific files and directories (`!` patterns)
# 
# - Use `!filename` to un-ignore a specific **root-level** file.
# - It is NOT POSSIBLE to recursively un-ignore everything in a directory.
# - First, un-ignore a directory itself, i.e. `!mydir/`. This is basically
#   a no-op. It doesn't cause any files to be tracked, it's just a
#   pre-requisite before un-ignoring anything inside.
# - Then, you can EITHER:
#   1. Use `!mydir/filename` to un-ignore **specific files** in its **root**.
#   2. Use `!mydir/*` to un-ignore **all files** in its **root**,
#      but NOT any sub-directories.
#      - To un-ignore contents of sub-directories, you repeat this process,
#        i.e. `!mydir/subdir/` followed by `!mydir/subdir/file-or-wildcard`
# #############################################################################

# Root-level files
!.gitignore

# Directories
!_setup/
!_setup/*
# -----------------------------------------------------------------------------
!alacritty/
!alacritty/alacritty.toml
# -----------------------------------------------------------------------------
!git/
!git/ignore
# -----------------------------------------------------------------------------
!nvim/
!nvim/*
!nvim/lua/
!nvim/lua/*
!nvim/lua/core/
!nvim/lua/core/*
!nvim/lua/plugin/
!nvim/lua/plugin/*
!nvim/lua/vim/
!nvim/lua/vim/*
!nvim/lua/plugin/setup/
!nvim/lua/plugin/setup/*
!nvim/lua/plugin/specs/
!nvim/lua/plugin/specs/*
# -----------------------------------------------------------------------------
!skhd/
!skhd/skhdrc
!skhd/yabaimacro.sh
# -----------------------------------------------------------------------------
!ssh/
!ssh/config
# -----------------------------------------------------------------------------
!tmux/
!tmux/tmux.conf
# -----------------------------------------------------------------------------
!yabai/
!yabai/yabairc
# -----------------------------------------------------------------------------
!zsh/
!zsh/.zshrc
!zsh/.zshenv
!zsh/.zprofile
!zsh/.p10k.zsh

# #############################################################################
# STEP 3: Re-ignore unwanted stuff from patterns ending in `*` above.
#
# - This step looks like a normal gitignore.
# #############################################################################

.DS_Store
node_modules
